body.page.theme_light {
	--accent-color: #ff0070;
	--main-color: #353430;
	--text-color: #353430;
	--focus-color: #ffc2e6;
	--theme-menu-color: #353430;
	--article-title-bg: #ff8dcb;
	--menu-hover-color: rgba(50, 49, 45, 0.4);

	background: url(../images/cover-image-light.png);
	background-attachment: fixed;
	background-size: cover;
}

body.page.theme_light .header__rec {
	visibility: hidden;
}

@media (prefers-color-scheme: light) {
	.page.theme_auto {
		--accent-color: #ff0070;
		--main-color: #353430;
		--text-color: #353430;
		--focus-color: #ffc2e6;
		--theme-menu-color: #353430;
		--article-title-bg: #ffc2e6;
		--menu-hover-color: rgba(50, 49, 45, 0.4);

		background: url(../images/cover-image-light.png);
		background-attachment: fixed;
		background-size: cover;
	}

	body.page.theme_auto .header__rec {
		visibility: hidden;
	}
}
